.featured{
    margin: 20px 80px 20px 50px;


    .see{
       margin-bottom: 50px; 
      
        .link{
            display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
        font-size: 25px;
        font-weight: 600;
        }
    }
}