.footer{
    margin: 10px 200px 20px 200px;
    
   }

.top{
   display: flex;  
   gap:50px;
   
}

.buttom{
   display: flex;
   gap: 25vh;
   margin: 40px;
}

.item{
   display: flex;
   flex-direction: column;
   gap:10px;
   flex:1;
   text-align: justify;
   font-size: 14px;
}
.logo{
   font-size: 30px;
   
}
